
<h1>Hello I'am the homepage</h1>
<%= link_to "All organs", organs_path %>

<div id="map"
     style="width: 100%; height: 400px;"
     data-markers="<%= @markers.to_json %>"
     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>