// Specific CSS for your home-page

#wrapper {
  min-height: 100vh;
  position: relative;
  padding-bottom: 300px;
}

h1 {
  margin: 60px 0 0 0;
}

h3  {
  margin: 30px 0 20px 0;

}

.link {
  margin: 30px 0 10px 0;
}
