.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.list-inline-item > a {
  color: #0E0000;
  opacity: 0.7;
  &:hover {
    opacity: 1;
    text-decoration: none;
  }
}

.list-inline-item > a.active {
    opacity: 1;
    font-weight: bolder;
}

form {
  margin-bottom: 30px;
}

.hide {
  display: none;
}


.simpleform_for_organ_edit{
  width: 40%
}

.edit_organ_div {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 0;
}
