<h1>Career </h1>

<!-- <p>We have no job available for the moment, please don't hesite to contact us if you feel pationated about your industry. Our knowledge may interst us</p> -->
<br>
<h3>WANTED! Looking for a field Surgeon</h3>
<br>
  <h5>What we offer:</h5>
    <ul>
      <li>Practice locally</li>
      <li>Work under pressure</li>
      <li>A totally new business industry</li>
    </ul>
<br>
  <h5>What we want:</h5>
    <ul>
      <li>Centers around patient care</li>
      <li>Provides for more professional independence</li>
      <li>Allows freedom to decide the organization of the practice, as well as the hours, the hospitals in which the surgeon practices, and the type of patients that are attracted
      Tends to encourage long-term relationships with patients</li>
      <li>Requires business management skills and strong professional relationships with referring physicians</li>
      <li>Includes responsibilities for providing the surgeon's own employment benefits</li>
      <li>Suits surgeons with a strong and enthusiastic interest in patient-care activities</li>
      <li>Provides the opportunity to perform ambulatory, or office-based, surgeries</li>
      <!-- Offers the option for managed care contracts
      Academic Medicine
      Combines teaching, patient care, and medical research
      Places the surgeon in an environment that is known for being in the forefront of scientific breakthroughs and for taking the initiative in developing experimental therapies
      Focuses on research, thus, these hospitals attract patients with diseases and disorders that are less likely to be found in a traditional private or group practice
      Suits a surgeon who is interested in a broad exposure to a diverse range of clinical cases
      Allows surgeons to become part of a research community, where they are expected to conduct clinical investigations; often advancement in this type of practice environment is linked to successful research efforts
      Emphasizes teaching and provides vitally important leadership and guidance to medical students and residents -->
    </ul>
