faq.hrml.erb

<!--
<h1>What if someone steals my organs?</h1>
<p>Organs provide you an insurance and remplacing organs</p>


<h1>What if the renter give back my organ in a poor conditon?</h1>
<p>He will have ot pay for the dammage</p> -->

<h1>Membership and subscription questions</h1>
  <ul>
    <li><a href="#">Accedebant enim eius asperitati</a></li>
    <li><a href="#">et iracundae suspicionum quantitati proximorum cruentae blanditiae exaggerantium incidentia</a></li>
    <li><a href="#">si principis periclitetur vita, a cuius salute velut filo pendere statum</a></li>
    <li><a href="#">velut filo pendere statum orbis terrarum fictis vocibus</a></li>
  </ul>


<h1>Getting more involved</h1>
  <ul>
    <li><a href="#">Accedebant enim eius asperitati</a></li>
    <li><a href="#">et iracundae suspicionum quantitati proximorum cruentae blanditiae exaggerantium incidentia</a></li>
    <li><a href="#">si principis periclitetur vita, a cuius salute velut filo pendere statum</a></li>
    <li><a href="#">velut filo pendere statum orbis terrarum fictis vocibus</a></li>
    <li><a href="#">Accedebant enim eius asperitati</a></li>
    <li><a href="#">et iracundae suspicionum quantitati proximorum cruentae blanditiae exaggerantium incidentia</a></li>
  </ul>
<h1>Requesting help from our company?</h1>
  <ul>
    <li><a href="#">Accedebant enim eius asperitati</a></li>
    <li><a href="#">si principis periclitetur vita, a cuius salute velut filo pendere statum</a></li>
    <li><a href="#">velut filo pendere statum orbis terrarum fictis vocibus</a></li>
  </ul>
<h1>Requesting help from associations?</h1>
  <ul>
    <li><a href="#">Accedebant enim eius asperitati</a></li>
    <li><a href="#">et iracundae suspicionum quantitati proximorum cruentae blanditiae exaggerantium incidentia</a></li>
    <li><a href="#">si principis periclitetur vita, a cuius salute velut filo pendere statum</a></li>
    <li><a href="#">velut filo pendere statum orbis terrarum fictis vocibus</a></li>
  </ul>
<h1>Others</h1>
  <ul>
    <li><a href="#">Accedebant enim eius asperitati</a></li>
    <li><a href="#">et iracundae suspicionum quantitati proximorum cruentae blanditiae exaggerantium incidentia</a></li>
  </ul>
