<h1>Hello I'am the homepage</h1>

<% if user_signed_in? && current_user.photo.attached? %>
  <%= cl_image_tag current_user.photo.key, height: 300, width: 400, crop: :fill %>
<% end %>


<%= link_to "All organs", index_path %>