<h1>Hello</h1>

<head>



</head>

<body>

  How are you?

</body>

<footer>
  <div class="wrapper">
    <div class="footer-section">
      <div class="column">
        <h3>Organs</h3>
        <p>Optimize our life, share your time, share your organs</p>
      </div>

      <div class="column">
        <h3>About</h3>
          <ul class ="list-inline">
            <li><a href="#">FAG</a></li>
            <li><a href="#">Press</a></li>
            <li><a href="#">Who we are?</a></li>
            <li><a href="#">Career</a></li>
            <li><a href="#">values</a></li>
          </ul>
      </div>

      <div class="column">
        <h3>Ressources</h3>
          <ul class ="list-inline">
            <li><a href="https://redcross.eu/">Red cross</a></li>
            <li>Link to organs sharing</li>
            <li>Many others links</li>
          </ul>
      </div>

      <div class="column">
        <h3>Follow us</h3>
          <ul class ="list-inline">
            <li ><a href="#" target="_blank"><i class="fab fa-github-square"></i></a></li>
            <li ><a href="#" target="_blank"><i class="fab fa-twitter"       ></i></a></li>
            <li ><a href="#" target="_blank"><i class="fab fa-instagram"    ></i></a></li>
          </ul>
      </div>
    </div>
  </div>
</footer>
