/* Month header */
.month {
  padding: 25px 25px;
  width: 100%;
  background: #1abc9c;
  text-align: center;
}

/* Month list */
.month ul {
  margin: 0;
  list-style-type: none;
  padding: 0;
}

.month ul li {
  color: white;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 3px;
}

/* Previous button inside month header */
.month .prev {
  box-shadow: none;
  border: none;
  background-color: grey;
  float: left;
  padding-top: 10px;
}

/* Next button */
.month .next {
  box-shadow: none;
  border: none;
  background-color: grey;
  float: right;
  padding-top: 10px;
}

/* Weekdays (Mon-Sun) */
.weekdays {
  width: 100%;
  margin: 0;
  padding: 10px 0;
  background-color:#ddd;
}

.weekdays li {
  display: inline;
  padding: 10px;
  width: 13.6%;
  color: #666;
  text-align: center;
}

/* Days (1-31) */
.days {
  width: 100%;
  padding: 10px 0;
  background: #eee;
  margin: 0;
}

.days li {
  list-style-type: none;
  display: inline-block;
  width: 13.6%;
  text-align: center;
  margin-bottom: 5px;
  font-size:12px;
  color: #777;
}

/* Highlight the "current" day */
.days .active {
  background-color: darkred;
  color: white !important
}

.days .active_un {
  background-color: lightcoral;
  color: white !important
}

.calbox {
  width: 30%;
}
.days .free {
  padding: 5px;
}

.not {
  background-color: darkseagreen;
}

.days .selected {
  background-color: lightblue;
}


.formcal {
  display: none;
}


.days .presentBooking {
  background-color: lightskyblue;
}

.days .activeP {
  background-color: blue;
  color: white;
}

#calcall {
  display: none;
}