/* Month header */
.calbox {
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.month {
  padding: 25px 25px;
  width: 100%;
  background: #0c0c0c;
  text-align: center;
  border-radius: 10px 10px 0 0;
}

/* Month list */
.month ul {
  margin: 0;
  list-style-type: none;
  padding: 0;
}

.month ul li {
  color: white;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 3px;
}

/* Previous button inside month header */
.month .prev {
  box-shadow: none;
  border: none;
  color: white;
  background-color: #0c0c0c;
  float: left;
  padding-top: 10px;
}

/* Next button */
.month .next {
  box-shadow: none;
  border: none;
  color: white;
  background-color: #0c0c0c;
  float: right;
  padding-top: 10px;
}

/* Weekdays (Mon-Sun) */
.weekdays {
  width: 100%;
  margin: 0;
  padding: 10px 0;
  background-color:#ddd;
  border-left: 1px solid black;
  border-right: 1px solid black;
}

.weekdays li {
  display: inline;
  width: 13.6%;
  padding-left: 5.5%;
  color: #666;
  text-align: center;
}

/* Days (1-31) */
.days {
  width: 100%;
  padding: 12px 0px 12px 10px;
  background: #eee;
  margin: 0;
  border-radius: 0 0 10px 10px;
  border-bottom: 1px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;
}

.days li {
  list-style-type: none;
  display: inline-block;
  width: 13.6%;
  text-align: center;
  margin-bottom: 5px;
  font-size:12px;
  color: #777;
}

.calbox {
  width: 30%;
}
.days .free {
  padding: 5px;
}

.not {
  background-color: darkseagreen;
}

.days .selected {
  background-color: lightblue;
}


.formcal {
  display: none;
}

#calcall {
  display: none;
}

.days .presentBooking {
  background-color: rgb(65, 160, 184);
}

.days .activeP {
  background-color: rgb(39, 55, 124);
  color: white;
}

.days .active {
  background-color: rgb(145, 63, 63);
  color: white !important
}

.days .active_un {
  background-color: rgb(241, 124, 124);
  color: white !important
}
