#map {
  margin: 20px 0px;
  width: 100%;
  height: 60vh;
}

.mapboxgl-popup {
  max-width: 250px;
}

.mapboxgl-popup-content {
  padding: 16px ;
  font-family: 'Open Sans', sans-serif;
}

.mapboxgl-canvas, .mapboxgl-canvas-container {
  width: 100%;
  height: 60vh;
}

.mapboxgl-popup p {
  font-size: 18px;
  line-height: 22px;
}

.mapboxgl-popup-close-button {
  font-size: 35px;
}

.mapboxgl-popup-content:hover {
  background: linear-gradient(45deg, #cd0a0a, #ec0101) !important;
  p {
    opacity:0;
  }
  h3 {
    opacity:0;
  }
}

.mapboxgl-popup-content:hover .learn-more {
  z-index:1000;
  opacity: 0.9 !important;
  &:hover {
    opacity: 1 !important;
  }
}

.mapboxgl-popup-close-button {
  position: absolute;
  right: 5px;
  top: 13px;
  color: white;
  opacity: 0.9 !important;
}