.navbar-lewagon {
  justify-content: space-between;
  background: white;
  margin-bottom: 40px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

// If we want  to add a button to the nav bar
.btn_navbar {
  border-radius: 38px 38px 38px 38px;
  width: 200px !important;
  padding-left: 22px;
  padding-right: 22px;
  color: #fff;
}

.navbar-light .navbar-nav .nav-link {
  font-weight: bolder;
  color: black;
}

.navbar-light .navbar-nav .nav-link:hover {
  color: #d34343;
}