.search-input {
  border-radius: 38px 0 0 38px;
  width: 300px !important;
  padding-left: 22px;
}

.search-submit {
  border-radius: 0 38px 38px 0;
}

.centered {
margin: auto;
}

.form-group .form-control {
  border: none;
}