<h3><%= user.fullname %></h3>

<% @organsuser = Organ.where("user_id= #{user.id} and available = true") %>

<p>organ(s): <strong>
<% @organsuser.each do |organ| %>
 <%= organ.organ_type %>
<%end%>
</strong>
</p>
<p><%= user.address %></p>