<h1>This is the organ edit page</h1>
<%= simple_form_for @organ, url='/home/show' do |f| %>
  <%= f.input :description input_html: {value: @organ.description}%>
  <%= f.input :price {value: @organ.price} %>
  <%= f.button :available {value: @organ.available}%>
<% end %>