


<h1>List of all the organs</h1>

<div class="cards">
  <%@organs.each do |organ|%>
    <% if organ.available == true %>
      <div class="card-trip">
        <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
        <div class="card-trip-infos">
          <div>
            <h2>The <%= organ.organ_type%> of <%= organ.user.fullname %></h2>
          <p><%= organ.description  %></p>
          </div>
          <h2 class="card-trip-pricing"><%= organ.price %> €</h2>
          <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
        </div>
      </div>
    <%end%>
  <%end%>
</div>



